* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kaisei Opti", serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: row; /* Organiza los elementos en fila */
}

nav {
  width: 200px;
  background-color: rgba(33, 22, 19, 0.9);
  height: 100vh;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0; /* Barra de navegación fija a la derecha */
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  padding: 15px 20px;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  display: block;
}

nav a.active {
  color: #e85d04;
}

.tabla-admin, .tabla-reservas, .tabla-menu, .tabla-promociones{
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: flex-start; 
  margin-left: 17%; 
  width: 70%;
  
}

.tabla-scroll-container {
  max-height: 50vh; /* 50% de la altura de la ventana */
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Mantener el header fijo mientras se hace scroll */
.tabla-scroll-container table {
  width: 100%;
  margin-top: 0; /* Eliminar margen superior si existe */
}

.tabla-scroll-container thead th {
  position: sticky;
  top: 0;
  background-color: #cccccc; /* Agregar el color de fondo */
  z-index: 1;
}


  .input-ancho {
  width: 100%;     /* O un ancho fijo como 300px si prefieres */
  resize: vertical; /* Permite que el usuario cambie el alto si quiere */
  padding: 8px;
  font-family: inherit;
  font-size: 1rem;
  resize: none; 
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 10px;

}



.buscador{
  max-width: 70%;
  margin-left: 17%; 
  border-radius: 15px;
  border: 1px solid #b7b7b7;
}

.nombre-seccion{
  font-size: 2.5rem;
  color: #e85d04; /* Naranja */
  margin-top: 2%; /* Eliminar cualquier margen extra */
  text-align: center;
  margin-bottom: 2%;
  margin-left: 17%;
}
.nombre-subtitulo{
  
  color: #752d01; /* Naranja */
  margin-top: 2%; /* Eliminar cualquier margen extra */
  text-align: center;
  margin-bottom: 2%;
  margin-left: 17%;
}

.btn-cerrar-sesion {
  background-color: transparent;
  border: 2px solid #e85d04;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-left: 20px;
  margin-bottom: 40px;
}

.btn-cerrar-sesion:hover {
  background-color: #e85d04;
  color: black;
}

table { 
    border-collapse: collapse; width: 100%; margin-top: 1rem; 
}

th, td { 
    border: 1px solid #ccc; padding: 1rem; text-align: center; 
}
th {
  background: #eee;
}

button { 
    margin: 5px; 
}



input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%; padding: 8px; margin-bottom: 10px;
}

.container {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}



/* FORMULARIOS*/
.formulario-emergente,
.modal-contenido,.modal-contenido-menu {
  background-color:  #E3D8D4;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  
}
.emergente-inputs input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
   box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
}
/* MODAL ADMIN */

 .modal, .modal-menu {
       position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
      }
  
.modal.activo {
  display: flex;
}
/* MODAL MENU */




img.promo-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.btn {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary {
  background: #c74b1e;
  color: white;
}

.btn-danger {
  background: #d9534f;
  color: white;
}

.modal-content img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

label, input, textarea {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

.modal-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
/* Estilo general de la tabla */
table {
  width: 100%; 
  background-color: #ededed; 
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: 'Lato', sans-serif;
  text-align: center;
  
}

/* Estilo de las celdas */
th, td {
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  margin: 20px, 20px;

}
/* Estilo de las filas */
table th {
  background-color: #cccccc;
  font-weight: bold;
  text-align: center;

}
main {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  margin-left: 0%;
}
dialog {
  padding: 32px 24px;
  border-radius: 16px;
  border: none;
  max-width: 95vw;
  width: 420px;
  min-width: 320px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.18);
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   background-color:  #E3D8D4;
}
dialog::backdrop {
  background: rgba(0,0,0,0.25);
}
dialog input[type="text"],
dialog input[type="number"],
dialog input[type="url"],
dialog input[type="email"],
dialog textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
}

/* Estilo del botón "Agregar" */
.btn-agregar, .btn-agregar-bebida, .btn-agregar-postre,.btn-agregar-comida{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #d15507;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
.btn-agregar:hover, .btn-agregar-bebida:hover, .btn-agregar-postre:hover {
  background-color: #8e3204;
}
/* Modal opcional para centrarlo mejor */

.btn-guardar {
  background-color: #d15507;
 border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.btn-eliminar, .btn-eliminar-postre, .btn-eliminar-comida {
  margin-right: 5px;
  padding: 5px 10px;
  color: white;
  background-color: #de0c0c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.btn-guardar {
  background-color: #d15507;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-guardar:hover{
  background-color: #8e3204;;
}
.btn-cancelar {
  background-color: transparent;
  color: #ff7f16;
  border: 2px solid #ff7f16;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-cancelar:hover{
  background-color: #ff7f16;
  color: white;
}
.btn-eliminar:hover {
  background-color: #a10000;
}
/* Botón editar - azul */
.btn-editar, .btn-editar-postre, .btn-editar-comida {
   margin-right: 5px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1e90ff; 
}
.btn-editar:hover {
  background-color: #0c70d2;
}

#previewImage {
  width: 100px;
  margin-top: 5%;
}