body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: #ffff;
}

.navbar {
  background-color: #2b2b2b;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 10px 0;  
  display: flex;
  justify-content: center;
  gap: 10px;
  vertical-align: middle;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 16px;
}

nav a.active,
.navbar a:hover {
  color: #e85d04;
}

/* Sección de Portada */
.inicio-content {
  background-image: url("../img/PlatilloFondo.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.inicio-content h1 {
  font-size: 48px;
  color: #e85d04;
  font-weight: normal;
  text-align: left;
}

.inicio-content p {
  font-size: 20px;
  text-align: right;
}

/* Conócenos */
.conocenos-container {
  padding: 60px 20px;
  width: 100%;
  height: 100vh;
  display: flex;
}

.conocenos-container .text-container {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: left;
  margin-left: 30px;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.text-container .conocenos-texto h2 {
  color: #e85d04;
  margin-top: 5%;
  font-size: 35px;
}

.text-container .conocenos-texto p {
 margin-top: 2px; 
}

.text-container .ubicanos-texto {
  width: 30%;
  text-align: center;
}

.text-container .ubicanos-texto h3 {
  font-weight: normal;
}

.text-container .ubicanos-texto p {
  display: flex;
  font-size: 15px;
}

.conocenos-container .img-derecha {
  margin-top: 5%;
  width: 25%;
  height: 70%;
  display: flex;
  border-radius: 10px;
}

.reservar-container {
  padding: 60px 20px;
  width: 100%;
  height: 100vh;
}

.reservar-container .reservar-texto {
  width: 100%;
  height: 25%;
  text-align: center;
}

.reservar-container h2 {
  color: #e85d04;
  margin-top: 0;
  font-size: 35px;
}

.reservar-container .mesa-options {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mesa-options .mesa img {
  max-width: 250px;
  max-height: 250px;
  margin-right: 15px;
}

.mesa-options span {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.promociones-container {
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100vh;
}

.promociones-container h2 {
  margin-top: 5%;
}

.carrusel-basico {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}

.promo-cards {
  display: flex;
  gap: 10px;
}

.promo-card {
  width: 200px;
  height: 90%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background: white;
}

.promo-card img {
  width: 100%;
  height: auto;
}

.promo-card p{
  padding: 10px;
  font-size: 14px;
}

.carrusel-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-container {
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100vh;
}

.menu-container h2 {
  margin-top: 5%;
}

.categoria-menu {
  margin: 30px 0;
}

.categoria-menu h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.menu-cards {
  display: flex;
  gap: 10px;
}

.menu-card {
  width: 200px;
  height: 90%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background: white;
}

.menu-card img {
  width: 100%;
  height: auto;
}

.menu-card p{
  padding: 10px;
  font-size: 14px;
}