#inicio {
    background-image: url("img/PlatilloFondo.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conocenos-container .img-derecha {
    width: 70%;
    max-width: 280px; 
    border-radius: 10px;
  }
  